/* colors */
:root {
    --primary-color: #F18128;
    --secondary-color: #fff;
    --body: #040D1F;
}
/* colors */

/* fonts */
:root {
    --primary-font: "Comfortaa";
    --secondary-font: "Montserrat";
    --ternary-font: "Roboto";
}
/* fonts */